#
# create at 2024-07-23 11:23:15
#
[mysqld]

# 每个 MySQL 服务器在复制集群中都需要一个唯一的服务器 ID。
# 这个 ID 用于标识不同的 MySQL 实例。这里设置为 1。
server-id = 1

# 启用二进制日志记录，并指定二进制日志文件的名称为 'binlog'。
# 二进制日志用于记录所有更改数据的 SQL 语句，主要用于复制和数据恢复。
log-bin = binlog

# 启用从服务器记录从主服务器接收到的更新到其自己的二进制日志。
# 这对于级联复制很有用（从服务器也可以作为其他服务器的主服务器）。
log_slave_updates = 1

# 设置 sync_binlog = 1 确保每次事务提交时，MySQL 都会将二进制日志同步到磁盘。
# 这可以确保数据的一致性和可靠性，但可能会对性能有一定影响。
sync_binlog = 1

# 设置自动递增列的起始值，常用于主主复制（双主复制）环境以避免冲突。
# 在这种配置下，两个服务器的 auto_increment_offset 值不同以确保唯一性。
# db1设置为1，db2设置为2
auto_increment_offset = 1

# 设置自动递增列的步长，常用于主主复制（双主复制）环境。
# 在这种配置下，两个服务器的 auto_increment_increment 值相同，以确保每个服务器分配不同的自增值。
auto_increment_increment = 2

